/.phpunit.cache
/node_modules
/public/build
/public/hot

/public/caution_bordereaus
/public/contrats
/public/factures
/public/houses_images
/public/img_contrats
/public/img_prestations
/public/pieces
# /public/plugins
/public/dist
/public/room_images
/public/mandate_contrats

/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
README.md
