* {
    /* font-family: "Poppins"; */
}

#card {
    border: #000 solid 2px;
    border-radius: 10px;
    background-image: url("bg-croisade1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
}


#header {
    align-items: center;
    margin-block: 10px;
}

#card-body {
    padding-block: 70px;
}


p.title {
    font-size: 22px;
    margin-bottom: 10px !important;
    font-size: bold;
    color: #043311;
    text-transform: uppercase;
    font-weight: bold;
    /* margin-top: -150px; */
}

p.theme {
    font-size: 20px;
}


.reference {
    background-color: #f9cf00;
    color: #043311 !important;
    text-align: center;
    color: #fff;
    width: 100%;
}

.fullname {
    font-size: 30px;
}

.ministry {
    font-size: 25px;
}

.phone {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#card-body .avatar {
    width: 100% !important;
    /* border-radius: 10px; */
    border: solid 10px #043311;
}

