* {
    font-family: "Montserrat";
}

.body-div {
    background-image: url("bg-img.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.badge {
    font-size: 15px !important;
}

span {
    padding: 2px 1px !important;
    border-radius: 5px !important;
}

#form-login input,
#form-login .input-group-text {
    border-radius: 0px !important;
}

.nav-link:hover,
.nav-link.active {
    color: #075594 !important;
    background-color: #f6f6f6 !important;
    border-radius: 5px;
}

ul {
    padding: .5rem !important;
}

ul li a,
ul button {
    width: 100% !important;
}

body {
    background-color: #f6f6f6 !important;
}

/* .dataTables_paginate {
    text-align: center !important;
    display: flex !important;
    justify-content: center;
}

.dataTables_paginate a {
    color: white !important;
    background-color: #075594 !important;
    border-radius: 10px;
    padding: 5px;
    border: 2px solide #fff;
    cursor: pointer;
    margin-inline: 10px;
    align-items: center !important;
} */

.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

/* === LOADING ==== */
#loading {
    position: fixed;
    top: 50%;
    margin: auto;
    /* left: 50%; */
    /* background-color: #000; */
    align-items: center;
    text-align: center;
    border-radius: 5px;
    z-index: 2000;
}

#loading span {
    color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

p {
    font-size: 20px;
    color: #000;
}

.text-dark {
    color: #000;
}

.text-red {
    color: #075594 !important;
}

.bg-dark {
    background-color: #000;
    color: #fff;
}

.bg-dark:hover {
    color: #075594;
}

.bg-red {
    background-color: #075594 !important;
    color: #fff !important;
}

.bg-red:hover {
    color: #075594 !important;
    background-color: #f6f6f6 !important;
    border: 3px solid #fff!important;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.nav-bg {
    background-color: #f6f6f6 !important;
    border: 3px solid #fff;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.btn {
    margin: 3px;
}


/* Styles du dropdown du user */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #0056b3;
    color: white;
    padding: 8px; /* Augmenter la taille du padding pour donner une forme ronde */
    border: 3px solid #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%; /* Cette ligne rend le bouton circulaire */
    transition: background-color 0.3s ease;
  
    /* display: inline-flex; Permet au bouton de se redimensionner selon son contenu */
    /* display: flex; */
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.dropdown-button:hover {
    background-color: #0056b3;
    border: 3px solid #fff;
    transition-duration: 0.5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    border-radius: 5px;
    top: 40px;
    left: 0;
    left: -160px; /* Décale les éléments du dropdown vers la gauche */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}

/* Fin Styles du dropdown du user */


.main {
    position: relative !important;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(0,0,0,0.07)'/%3E%3C/svg%3E") !important;
}

.table-responsive-list {
    padding: 0px 5px;
    border-radius: 10px;
    padding: 10px
}

.table-responsive-list thead th {
    position: sticky;
    top: 0;
    background-color: #000 !important;
    color: #fff !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.bg_dark {
    background-color: #000 !important;
    color: #fff !important;
}

thead {
    background-color: #000 !important;
    color: #fff !important;
}

.pagination {
    display: none;
}

.card {
    margin-bottom: 5px;
    border: 5px solid #f6f6f6
}

.card a {
    background-color: rgba(0, 0, 0, .175) !important;
    color: #000 !important;
}

.card a:hover {
    color: #fff !important;
}

button {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}

tr {
    font-size: 18px !important;
}

#sidebar_mobile,
#sidebar {
    overflow-y: scroll !important;
}

#sidebar_mobile li {
    font-size: 8px !important;
}

#close-moblie-sidebar {
    margin-top: 55px;
}