body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link,
#sidebar_mobile .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* ### CUSTOM CSS */

.search--bar {
  border-radius: 10px;
}

.sidebar-sticky .nav-item a,
#sidebar_mobile .nav-item a {
  font-size: 20px;
}

.sidebar-sticky .nav-item a.active {
  background-color: #000;
  color: #fff;
}

#sidebar_mobile {
  margin-top: 120px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 40%;
  display: none;
}

#open-moblie-sidebar {
  display: none;
}

@media screen and (max-width:768px) {
  .sidebar {
    display: none !important;
  }

  #sidebar_mobile,
  #open-moblie-sidebar {
    display: block;
  }

  main {
    padding-top: 200px !important;
  }

  .header-bar {
    display: list-item !important;
    list-style-type: none;
    text-align: center;
  }

  .header-bar .btn {
    width: 100%;
  }

  #sidebar_mobile .nav-link {
    font-weight: 300;
    color: #333;
    font-size: 15px!important;
  }

}

tr {
  font-size: 20px;
}

#close-moblie-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 30px;
  font-size: 20px;
  color: #cc3301;
}

.pagination .page-link {
  color: #cc3301;
}